.authpage_container {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    margin-top: 4rem;
}

.authpage_form {
    align-self: center;
}

.registration_input,
.login_input,
.authpage_select_btn {
    margin: 1rem;
}


.auth_submit_btn {
    margin: 1rem;
}

