.authpage_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 90%;
    border-radius: 8px;
    color: #373A55;
    font-weight: bold;
}

.login_form,
.registration_form {
    text-align:  center;
}

.authpage_text {
    text-align: center;
    font-size: 3rem;
    margin: 0 1rem 1rem 1rem;
    padding:  0 1rem 1rem 1rem;
    color: #373A55;
    font-weight: bold;
}

.authpage_form {
    align-self: center;
    text-align: center;
    background: #373A55;
    padding: 2rem;
    border-radius: 4px;
    font-size: 1.5rem;
    width: 40%;
    height: 40%;
}

.registration_input,
.login_input {
    margin: 1rem;
}

.authpage_select_btn_container {
    margin: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.auth_submit_btn {
    margin: 1rem;
}

.btn_active,
.btn_not_active{
    margin: 0 1rem 1rem 1rem;
    padding: 0.5rem;
    border-radius: 8px;
}

.btn_not_active {
    font-weight: bold;
    color: #f9f7f7;
    background-color: #373A55;
}

.btn_active {
    background-color: #f9f7f7;
    color: #373A55;
    font-weight: bold;
}

.btn_active:hover,
.btn_active:active,
.btn_not_active:hover,
.btn_not_active:active {
    cursor: pointer;
}

.btn_not_active:hover,
.btn_not_active:active {
    background-color: #f9f7f7;
    color: #373A55;
}

.btn_active.auth {
    width: 50%;
    align-self: center;
}