
.dragged.task_card {
    display: none;
}

textarea:focus,
input:focus{
    outline: none;
    border-bottom: 2px solid #373A55;
}
/*
.add_component_container{
    display: flex;
    justify-content: center;
}


.scrum_table{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    padding: 1.5rem;
}

 */

.project_item_container{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.add_component_container,
.project_page__create_project_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project_column,
.project_card {
    display: block;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.3rem;
    width: 225px;
    background-color: #F5F2E0;
    color: #373A55;
    border: 2px solid #373A55;
}

.status_tool_container{
    float: right;
    display: flex;
    height: fit-content;
    margin: 10px;
    font-size: 15px;
}

.task_card {
    justify-content: center;
    border-radius: 10px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    min-height: 4rem;
    background-color: #F3D193;
    border: 1.5px solid #373A55;
    font-size: 20px;
}

.businessValue{
    font-size: 12px;
}

.task_modal{

}

.text_modal{
    display: grid;
    margin-top: 30px;
    color: #373A55;
    font-weight: bold;
    font-size: medium;
}

.text_input{
    width: 90%;
    border: none;
    border-bottom: 0.5px solid ;
}

textarea {
    height: 150px;
}

.project_title {
    overflow-wrap: break-word;
    text-align: left;
    font-size: small;
}

.modal_btn {
    color: antiquewhite;
    background-color: forestgreen;
    width: 3rem;
    border-radius: 8px;
    margin: 4px 0 4px 0;
    text-align: center;
    display: none;
    padding: 4px;
    font-weight: 100;
}

.modal_btn:hover,
.modal_btn:active {
    cursor: pointer;
    display: block;
}

.text_input.title:focus + .modal_btn{
    display: block;
}

.text_input.description:focus + .modal_btn{
    display: block;
}

.participant_users{
    margin: 20px;
}

.user_icon{
    text-align: center;
    font-size: 20px;
}